## CONEXIÓN API TRADING
![img](src/img/trading_photo1.jpeg)

[Twelve Data API Documentation](https://rapidapi.com/twelvedata/api/twelve-data1/)

In [33]:
# Librerias
import os 
import requests
import pandas as pd
import json
import dotenv

**NOTA:** en este archivo se ha utilizado la `API_KEY` proporcionada en la página de RapidAPI

>Es necesario crear un usuario para conseguirla

In [34]:
# cargamos las variables de entorno
dotenv.load_dotenv()  

# leemos las variables de entorno
YOUR_API_KEY = os.getenv('API_KEY')

In [24]:
url_base = 'https://twelve-data1.p.rapidapi.com/'

url_data_selected = 'time_series'

# Parametros a modificar 
APIparams = {
    'symbol': 'AMZN', # simbolo de la empresa
    'interval': '1day', # intervalo temporal
    'outputsize': '600', # tamaño de la salida
    'format': 'json' # formato de salida
}

header = {
    'X-RapidAPI-Key': YOUR_API_KEY,
    'X-RapidAPI-Host': 'twelve-data1.p.rapidapi.com'
}

url = url_base+url_data_selected
response = requests.get(url,params=APIparams,headers=header)

In [12]:
response.json()

{'meta': {'symbol': 'AMZN',
  'interval': '1day',
  'currency': 'USD',
  'exchange_timezone': 'America/New_York',
  'exchange': 'NASDAQ',
  'mic_code': 'XNGS',
  'type': 'Common Stock'},
 'values': [{'datetime': '2023-03-30',
   'open': '101.60000',
   'high': '101.99000',
   'low': '101.01000',
   'close': '101.98500',
   'volume': '8532973'},
  {'datetime': '2023-03-29',
   'open': '98.69000',
   'high': '100.42000',
   'low': '98.56000',
   'close': '100.25000',
   'volume': '49708500'},
  {'datetime': '2023-03-28',
   'open': '98.11000',
   'high': '98.44000',
   'low': '96.29000',
   'close': '97.24000',
   'volume': '38720100'},
  {'datetime': '2023-03-27',
   'open': '99.07000',
   'high': '99.34000',
   'low': '97.08000',
   'close': '98.04000',
   'volume': '46721300'},
  {'datetime': '2023-03-24',
   'open': '98.07000',
   'high': '98.30000',
   'low': '96.40000',
   'close': '98.13000',
   'volume': '56095400'},
  {'datetime': '2023-03-23',
   'open': '100.43000',
   'high': '101.06000',
   'low': '97.62000',
   'close': '98.71000',
   'volume': '57559300'},
  {'datetime': '2023-03-22',
   'open': '100.45000',
   'high': '102.10000',
   'low': '98.61000',
   'close': '98.70000',
   'volume': '57475400'},
  {'datetime': '2023-03-21',
   'open': '98.14000',
   'high': '100.85000',
   'low': '98.00000',
   'close': '100.61000',
   'volume': '58597300'},
  {'datetime': '2023-03-20',
   'open': '98.41000',
   'high': '98.48000',
   'low': '95.70000',
   'close': '97.71000',
   'volume': '62388900'},
  {'datetime': '2023-03-17',
   'open': '99.79000',
   'high': '100.66000',
   'low': '97.46000',
   'close': '98.95000',
   'volume': '87173200'},
  {'datetime': '2023-03-16',
   'open': '95.75000',
   'high': '100.99000',
   'low': '95.61000',
   'close': '100.04000',
   'volume': '84446900'},
  {'datetime': '2023-03-15',
   'open': '93.22000',
   'high': '96.67000',
   'low': '93.07000',
   'close': '96.20000',
   'volume': '70731800'},
  {'datetime': '2023-03-14',
   'open': '93.83000',
   'high': '95.07000',
   'low': '92.71000',
   'close': '94.88000',
   'volume': '60912700'},
  {'datetime': '2023-03-13',
   'open': '89.97000',
   'high': '94.02000',
   'low': '88.12000',
   'close': '92.43000',
   'volume': '72397100'},
  {'datetime': '2023-03-10',
   'open': '92.67000',
   'high': '93.57000',
   'low': '90.25000',
   'close': '90.73000',
   'volume': '69747500'},
  {'datetime': '2023-03-09',
   'open': '93.68000',
   'high': '96.21000',
   'low': '92.18000',
   'close': '92.25000',
   'volume': '55591000'},
  {'datetime': '2023-03-08',
   'open': '93.60000',
   'high': '94.17000',
   'low': '92.18000',
   'close': '93.92000',
   'volume': '44899100'},
  {'datetime': '2023-03-07',
   'open': '94.06000',
   'high': '95.09000',
   'low': '92.78000',
   'close': '93.55000',
   'volume': '49100700'},
  {'datetime': '2023-03-06',
   'open': '95.19000',
   'high': '96.55000',
   'low': '93.74000',
   'close': '93.75000',
   'volume': '52112400'},
  {'datetime': '2023-03-03',
   'open': '92.74000',
   'high': '94.94000',
   'low': '92.66000',
   'close': '94.90000',
   'volume': '54853000'},
  {'datetime': '2023-03-02',
   'open': '91.41000',
   'high': '92.23000',
   'low': '90.39000',
   'close': '92.13000',
   'volume': '54134000'},
  {'datetime': '2023-03-01',
   'open': '93.87000',
   'high': '94.68000',
   'low': '91.59000',
   'close': '92.17000',
   'volume': '51906000'},
  {'datetime': '2023-02-28',
   'open': '93.14000',
   'high': '94.69000',
   'low': '92.92000',
   'close': '94.23000',
   'volume': '43959000'},
  {'datetime': '2023-02-27',
   'open': '94.28000',
   'high': '94.78000',
   'low': '93.14000',
   'close': '93.76000',
   'volume': '47470000'},
  {'datetime': '2023-02-24',
   'open': '93.53000',
   'high': '94.14000',
   'low': '92.31860',
   'close': '93.50000',
   'volume': '57054000'},
  {'datetime': '2023-02-23',
   'open': '96.12000',
   'high': '96.43000',
   'low': '93.67000',
   'close': '95.82000',
   'volume': '48467000'},
  {'datetime': '2023-02-22',
   'open': '95.10000',
   'high': '97.01000',
   'low': '94.80000',
   'close': '95.79000',
   'volume': '59534000'},
  {'datetime': '2023-02-21',
   'open': '95.33500',
   'high': '95.60500',
   'low': '94.27000',
   'close': '94.58000',
   'volume': '56580000'},
  {'datetime': '2023-02-17',
   'open': '97.80000',
   'high': '97.94000',
   'low': '95.65000',
   'close': '97.20000',
   'volume': '60029000'},
  {'datetime': '2023-02-16',
   'open': '99.21000',
   'high': '100.63000',
   'low': '98.10000',
   'close': '98.15000',
   'volume': '54395000'}],
 'status': 'ok'}

In [14]:
njson= response.json()

In [25]:
# Separación de la data en meta y los valores
meta_json = njson['meta']
values_json = njson['values']

In [16]:
values_json

[{'datetime': '2023-03-30',
  'open': '101.60000',
  'high': '101.99000',
  'low': '101.01000',
  'close': '101.98500',
  'volume': '8532973'},
 {'datetime': '2023-03-29',
  'open': '98.69000',
  'high': '100.42000',
  'low': '98.56000',
  'close': '100.25000',
  'volume': '49708500'},
 {'datetime': '2023-03-28',
  'open': '98.11000',
  'high': '98.44000',
  'low': '96.29000',
  'close': '97.24000',
  'volume': '38720100'},
 {'datetime': '2023-03-27',
  'open': '99.07000',
  'high': '99.34000',
  'low': '97.08000',
  'close': '98.04000',
  'volume': '46721300'},
 {'datetime': '2023-03-24',
  'open': '98.07000',
  'high': '98.30000',
  'low': '96.40000',
  'close': '98.13000',
  'volume': '56095400'},
 {'datetime': '2023-03-23',
  'open': '100.43000',
  'high': '101.06000',
  'low': '97.62000',
  'close': '98.71000',
  'volume': '57559300'},
 {'datetime': '2023-03-22',
  'open': '100.45000',
  'high': '102.10000',
  'low': '98.61000',
  'close': '98.70000',
  'volume': '57475400'},
 {'datetime': '2023-03-21',
  'open': '98.14000',
  'high': '100.85000',
  'low': '98.00000',
  'close': '100.61000',
  'volume': '58597300'},
 {'datetime': '2023-03-20',
  'open': '98.41000',
  'high': '98.48000',
  'low': '95.70000',
  'close': '97.71000',
  'volume': '62388900'},
 {'datetime': '2023-03-17',
  'open': '99.79000',
  'high': '100.66000',
  'low': '97.46000',
  'close': '98.95000',
  'volume': '87173200'},
 {'datetime': '2023-03-16',
  'open': '95.75000',
  'high': '100.99000',
  'low': '95.61000',
  'close': '100.04000',
  'volume': '84446900'},
 {'datetime': '2023-03-15',
  'open': '93.22000',
  'high': '96.67000',
  'low': '93.07000',
  'close': '96.20000',
  'volume': '70731800'},
 {'datetime': '2023-03-14',
  'open': '93.83000',
  'high': '95.07000',
  'low': '92.71000',
  'close': '94.88000',
  'volume': '60912700'},
 {'datetime': '2023-03-13',
  'open': '89.97000',
  'high': '94.02000',
  'low': '88.12000',
  'close': '92.43000',
  'volume': '72397100'},
 {'datetime': '2023-03-10',
  'open': '92.67000',
  'high': '93.57000',
  'low': '90.25000',
  'close': '90.73000',
  'volume': '69747500'},
 {'datetime': '2023-03-09',
  'open': '93.68000',
  'high': '96.21000',
  'low': '92.18000',
  'close': '92.25000',
  'volume': '55591000'},
 {'datetime': '2023-03-08',
  'open': '93.60000',
  'high': '94.17000',
  'low': '92.18000',
  'close': '93.92000',
  'volume': '44899100'},
 {'datetime': '2023-03-07',
  'open': '94.06000',
  'high': '95.09000',
  'low': '92.78000',
  'close': '93.55000',
  'volume': '49100700'},
 {'datetime': '2023-03-06',
  'open': '95.19000',
  'high': '96.55000',
  'low': '93.74000',
  'close': '93.75000',
  'volume': '52112400'},
 {'datetime': '2023-03-03',
  'open': '92.74000',
  'high': '94.94000',
  'low': '92.66000',
  'close': '94.90000',
  'volume': '54853000'},
 {'datetime': '2023-03-02',
  'open': '91.41000',
  'high': '92.23000',
  'low': '90.39000',
  'close': '92.13000',
  'volume': '54134000'},
 {'datetime': '2023-03-01',
  'open': '93.87000',
  'high': '94.68000',
  'low': '91.59000',
  'close': '92.17000',
  'volume': '51906000'},
 {'datetime': '2023-02-28',
  'open': '93.14000',
  'high': '94.69000',
  'low': '92.92000',
  'close': '94.23000',
  'volume': '43959000'},
 {'datetime': '2023-02-27',
  'open': '94.28000',
  'high': '94.78000',
  'low': '93.14000',
  'close': '93.76000',
  'volume': '47470000'},
 {'datetime': '2023-02-24',
  'open': '93.53000',
  'high': '94.14000',
  'low': '92.31860',
  'close': '93.50000',
  'volume': '57054000'},
 {'datetime': '2023-02-23',
  'open': '96.12000',
  'high': '96.43000',
  'low': '93.67000',
  'close': '95.82000',
  'volume': '48467000'},
 {'datetime': '2023-02-22',
  'open': '95.10000',
  'high': '97.01000',
  'low': '94.80000',
  'close': '95.79000',
  'volume': '59534000'},
 {'datetime': '2023-02-21',
  'open': '95.33500',
  'high': '95.60500',
  'low': '94.27000',
  'close': '94.58000',
  'volume': '56580000'},
 {'datetime': '2023-02-17',
  'open': '97.80000',
  'high': '97.94000',
  'low': '95.65000',
  'close': '97.20000',
  'volume': '60029000'},
 {'datetime': '2023-02-16',
  'open': '99.21000',
  'high': '100.63000',
  'low': '98.10000',
  'close': '98.15000',
  'volume': '54395000'}]

In [26]:
# Normalizado del json, para leerlo en forma de dataframe
df = pd.json_normalize(values_json)
df_meta = pd.json_normalize(meta_json)

In [31]:
df_meta.head()

  symbol interval currency exchange_timezone exchange mic_code          type
0   AMZN     1day      USD  America/New_York   NASDAQ     XNGS  Common Stock

In [27]:
df.head()

     datetime       open       high        low      close    volume
0  2023-03-30  101.60000  101.99000  101.01000  101.98500   8532973
1  2023-03-29   98.69000  100.42000   98.56000  100.25000  49708500
2  2023-03-28   98.11000   98.44000   96.29000   97.24000  38720100
3  2023-03-27   99.07000   99.34000   97.08000   98.04000  46721300
4  2023-03-24   98.07000   98.30000   96.40000   98.13000  56095400

In [29]:
# Datos guardados en la carpeta data con el nombre correspondiente
file_name= 'time_series_data_01.csv'
df.to_csv('src/data/'+file_name)

#df_meta.to_csv('src/data/meta_'+file_name) # se descomenta si se quiere guardar la información meta

### OBSERVACIONES: 

> Se realiza la llamada a la API, y se extraen una serie temporal con los 600 dias anteriores, evaluados en un intervalo diario. El inconveniente detectado es que no se pueden extraer datos previos con la cuenta free.